@font-face
{
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}


.os-warning
{
    background-color: maroon;
    margin: 1em 4em;
    margin-top: inherit;
    color: #ccc;
    //display: none;
}

.right-floating
{
    float: right;
    margin-left: 1em;
}

.thirty-width
{
    width: 30%;
}

.forty-width
{
    width: 40%;
}

img
{
    image-orientation: from-image;
}

@media only screen and (max-width: 600px) {
    .os-warning
    {
        margin-left: 0;
        margin-right: 0;
    }
}

.warning-text
{
    overflow: auto;
}

.byline
{
    color: #bbb;
}

.section-heading small
{
    color: #bbb;
}

.warning-icon
{
    float: left;
    width: 4.5rem;
    padding: 8px;
    padding-right: 16px;
    float: left;
    user-select: none;
}


.dark hr
{
    border-color: #222;
    margin: 15px 0;
}

img
{
    width: 100%;
}

.article-img
{
    margin-bottom: 1em;
}

hr
{
    border-color: #aaa;
    border-width: 1px 0 0 0;
    margin-bottom: 1em;
}

hr.version-divider
{
    margin-top: 5rem;
}

.os-warning p{
    margin: 5px 5px;
}

.inner
{
    padding-left: 1em;
    padding-right: 1em;
    max-width: 42.5rem;
    margin-left: auto;
    margin-right: auto;
}

.dark
{
    background-color: black;
    color: white;
}

.header-title
{
    padding-top: 0.9rem;
    font-size: 1.8rem;
}

.article-title
{
    /*This is currently the same as header-title*/
    margin-bottom: 0;
    font-size: 2.4rem;
}

.article-info
{
    color: #666;
    margin-bottom: 1em;
}

.article-bydate-separate
{
    margin-left: 5px;
    margin-right: 5px;
}

.article-byline
{
    display: inline-block;
    margin-top: 0;
    font-size: 0.8rem;
}

.article-dateline
{
    display: inline-block;
    margin-top: 0;
    font-size: 0.8rem;
}

.header-links
{
    padding-top: 1.6rem;
    padding-bottom: 0.7rem;
}

.interests
{
    background-color: darkslategray;
}

.header
{
    background-color: black;
    color: white;
}

body
{
    background-color: #fff;
    font-family: "Georgia", "Times New Roman", serif;
}

.header a
{
    text-decoration: none;
    color: inherit;
}

.no-space-after
{
    margin-bottom: 0;
}

.section-heading
{
    margin-bottom: 1rem;
}

.project-title
{
    font-size: 2.5em;
    margin-bottom: 0;
}

.byline
{
    margin-top: 0;
}

section
{
    padding-bottom: 3rem;
}

ul
{
    padding-inline-start: 40px;
    margin-bottom: 1em;
}

.button:hover
{
    background-color: #b32253;
}

.button
{
    user-select: none;
    border: none;
    font-size: 1rem;
    padding: 8px 16px;
    background-color: #e91e63;
    cursor: pointer;
    color: white;
    display: inline-block;
    text-decoration: none;
}

h1
{
    margin-bottom:1rem;
}

p
{
    margin-bottom:1em;
    line-height: 1.55rem;
    font-size: 1.08rem;
}

ul
{
    line-height: 1.55rem;
    font-size: 1.08rem;
}

a
{
    color: inherit;
}

a:active
{
    color: hotpink;
}

.header a:hover
{
    text-decoration: underline;
}

.container
{
    overflow: hidden;
}

.header-title
{
    float: left;
}

.header-links
{
    float: left;
    margin-left: 2rem;
    text-align: center;
}

main
{
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

*
{
    box-sizing: border-box;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}