@font-face
{
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

.os-warning
{
    background-color: maroon;
    margin: 1em 4em;
    margin-top: inherit;
    color: #ccc;
    display: none;
}

.byline
{
    color: #bbb;
}

.section-heading small
{
    color: #bbb;
}

.warning-icon
{
    width: 8%;
    margin: 8px;
    margin-right: 16px;
    float: left;
    user-select: none;
}


.dark hr
{
    border-color: #222;
    margin: 15px 0;
}

hr.version-divider
{
    margin-top: 5rem;
}



.os-warning p{
    margin: 10px 15px;
}

.inner
{
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.dark
{
    background-color: black;
    color: white;
}

.header-title
{
    padding-top: 0.9rem;
    font-size: 1.8rem;
}


.header-links
{
    padding-top: 1.6rem;
    padding-bottom: 0.7rem;
}

.interests
{
    background-color: darkslategray;
}

.header
{
    background-color: black;
    color: white;
}

body
{
    background-color: #eee;
}

.header a
{
    text-decoration: none;
    color: inherit;
}

.section-heading
{
    margin-bottom: 1rem;
}

.project-title
{
    font-size: 2.5em;
    margin-bottom: 0;
}

.byline
{
    margin-top: 0;
}

section
{
    padding-bottom: 3rem;
}

ul
{
    padding-inline-start: 40px;
}

.button:hover
{
    background-color: #b32253;
}

.button
{
    user-select: none;
    border: none;
    font-size: 1rem;
    padding: 8px 16px;
    background-color: #e91e63;
    cursor: pointer;
    color: white;
}

h1
{
    margin-bottom:1rem;
}

p
{
    margin-bottom:1em;
}

a
{
    color: inherit;
}

a:active
{
    color: hotpink;
}

.header a:hover
{
    text-decoration: underline;
}

.container
{
    overflow: hidden;
}

.header-title
{
    float: left;
}

.header-links
{
    float: left;
    margin-left: 2rem;
    text-align: center;
}

main
{
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

*
{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    text-size-adjust: 100%;
}